/target
**/*.rs.bk
Cargo.lock.orig

# npm
node_modules/
packages/*/bin/
!packages/js-wrapper/bin/
!packages/js-wrapper/bin/rtinferd.js
packages/js-wrapper/clients/
clients/js/node_modules/

# python
__pycache__/
*.pyc
.venv/

# local dev
*.log
.DS_Store
